@charset "UTF-8";
/* ーーーーーーーーーーーーーーーーーーーーーーーーー

カラー(変数）

----------------------------------------- */
/* ーーーーーーーーーーーーーーーーーーーーーーーーー

フォント(mixin）

----------------------------------------- */
/* ーーーーーーーーーーーーーーーーーーーーーーーーー

ボックスシャドウ

----------------------------------------- */
/* ーーーーーーーーーーーーーーーーーーーーーーーーー

cv(mixin）

----------------------------------------- */
/* ーーーーーーーーーーーーーーーーーーーーーーーーー

見出し帯

----------------------------------------- */
/* ーーーーーーーーーーーーーーーーーーーーーーーーー

body

----------------------------------------- */
body {
  background-color: #f3f3f3;
  overflow-x: hidden;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

container

----------------------------------------- */
#container {
  color: #393e4f;
  background-color: #eceee6;
  max-width: 750px;
  margin: 0 auto;
  letter-spacing: .1rem;
  line-height: 1.45;
  font-family: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro","Hiragino Mincho Pro","MS P明朝","MS PMincho",serif;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

ヘッダー

----------------------------------------- */
header {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: fixed;
  text-align: center;
  width: 100%;
}

header .hd-logo {
  width: 36vw;
  padding: 4%;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

mv

----------------------------------------- */
.mv {
  background-color: #393e4f;
  padding-top: 4.2rem;
}

.mv_img {
  width: 100%;
  height: 100%;
}

.title-sub {
  font-size: 3vw;
  color: #fff;
  text-align: left;
  font-weight: bold;
  padding-left: 24vw;
  padding-bottom: 6vw;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

cv1

----------------------------------------- */
.cv_area01 {
  background-color: #393e4f;
  position: relative;
}

.cv_btn {
  font-size: 0.86rem;
  font-weight: bold;
  letter-spacing: 1vw;
  background-color: #0A5A1C;
  border: none;
  padding: 10px 24px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 74%;
  left: 50%;
  text-decoration: none;
}

.cv01 {
  height: 100%;
  width: 90%;
  margin: auto 5%;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

問題提起

----------------------------------------- */
.attention {
  background-color: #393e4f;
  position: relative;
}

.attention:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 10vw solid #eceee6;
  border-left: 100vw solid transparent;
}

.attention:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 10vw solid #eceee6;
  border-right: 100vw solid transparent;
}

.title-basic01 {
  font-size: 4.8vw;
  color: #fff;
  text-align: center;
  padding-top: 1.5rem;
}

.box-list01 {
  font-size: 3.4vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: 1.4rem;
  padding-bottom: 5rem;
}

.box-list01 li {
  padding-top: 0.4rem;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

ちょっと文章コーナー（1つでも当てはまったら~）

----------------------------------------- */
.mini-corner {
  font-size: 4.8vw;
  color: #002752;
  text-align: center;
  background-color: #eceee6;
  font-weight: bold;
  padding: 1.5rem 0;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

特徴

----------------------------------------- */
.center {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
  width: 92%;
  margin: 0 auto;
}

.center .sub02 {
  font-size: 3.4vw;
  color: gray;
  text-align: center;
  font-weight: bold;
}

.center .title02 {
  font-size: 5.2vw;
  color: #002752;
  text-align: center;
  font-weight: bold;
  padding: 0.4rem;
}

.center .des02 {
  font-size: 3vw;
  color: #393e4f;
  text-align: left;
  font-weight: bold;
  padding: 2vw 0 0 3vw;
  margin: 0 auto;
}

.center .title02-3 {
  font-size: 4.8vw;
  color: #002752;
  text-align: center;
  font-weight: bold;
  padding: 0.4rem;
}

.borderbox {
  width: 100%;
  height: 1rem;
  background-color: #eceee6;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

cv2

----------------------------------------- */
.cv_area02 {
  background-color: #eceee6;
  position: relative;
}

.cv_btn {
  font-size: 0.86rem;
  font-weight: bold;
  letter-spacing: 1vw;
  background-color: #0A5A1C;
  border: none;
  padding: 10px 24px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 74%;
  left: 50%;
}

.cv01 {
  height: 100%;
  width: 90%;
  margin: auto 5%;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

受講生からの声

----------------------------------------- */
.subtitle-nomal-wrapping {
  background-color: #002752;
  vertical-align: middle;
  display: table-cell;
  height: 6rem;
  width: 750px;
}

.subtitle-nomal-wrapping .subtitle-nomal {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.subtitle-nomal-wrapping .subtitle-nomal p {
  background-color: #002752;
  font-size: 3.4vw;
  color: #fff;
  text-align: center;
  padding-top: 1rem;
}

.subtitle-nomal-wrapping .subtitle-nomal h2 {
  background-color: #002752;
  font-size: 5.4vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

/* ーーー
カルーセル
--------*/
.slider {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 94%;
  margin: 0 auto;
}

.slider img {
  width: 60vw;
  /*スライダー内の画像を60vwにしてレスポンシブ化*/
  height: auto;
}

.slider .slick-slide {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  /*左右の画像のサイズを80%に*/
  -webkit-transition: all .5s;
  transition: all .5s;
  /*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;
  /*透過50%*/
}

.slider .slick-slide.slick-center {
  -webkit-transform: scale(1);
          transform: scale(1);
  /*中央の画像のサイズだけ等倍に*/
  opacity: 1;
  /*透過なし*/
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #002752;
  /*矢印の色*/
  border-right: 2px solid #002752;
  /*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: -1.5%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: -1.5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 30%;
  background: #ccc;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

.mini-text {
  text-align: center;
  font-size: 8px;
}

/* ーーー
体験談
--------*/
.mini-text {
  font-size: 2.6vw;
  color: #393e4f;
  padding-bottom: 1.6rem;
}

.preview-title01 {
  width: 92%;
  margin: 0 auto;
}

.preview-title01 h3 {
  padding: 0.5rem 0 1rem 23%;
  font-size: 4.8vw;
  color: #002752;
  text-align: left;
  font-weight: bold;
  background-image: url(https://res.cloudinary.com/timifura/image/upload/v1631000957/%E3%82%B9%E3%83%88English/stu1_gnafra.png);
  background-repeat: no-repeat;
  background-size: 12vw 12vw;
  background-position: 8% -2%;
}

.preview-title01 .preview-des {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
  padding: 0.8rem 1.4rem 0.6rem 1.4rem;
}

.preview-title01 .preview-des p {
  font-size: 3vw;
  color: #393e4f;
  text-align: left;
  font-weight: bold;
}

.preview-title02 {
  width: 92%;
  margin: 0 auto;
}

.preview-title02 h3 {
  padding: 0.5rem 0 1rem 23%;
  font-size: 4.8vw;
  color: #002752;
  text-align: left;
  font-weight: bold;
  background-image: url(https://res.cloudinary.com/timifura/image/upload/v1631000958/%E3%82%B9%E3%83%88English/stu2_d7ejku.png);
  background-repeat: no-repeat;
  background-size: 12vw 12vw;
  background-position: 8% -2%;
}

.preview-title02 .preview-des {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
  padding: 0.8rem 1.4rem 0.6rem 1.4rem;
}

.preview-title02 .preview-des p {
  font-size: 3vw;
  color: #393e4f;
  text-align: left;
  font-weight: bold;
}

.preview-title03 {
  width: 92%;
  margin: 0 auto;
}

.preview-title03 h3 {
  padding: 0.5rem 0 1rem 23%;
  font-size: 4.8vw;
  color: #002752;
  text-align: left;
  font-weight: bold;
  background-image: url(https://res.cloudinary.com/timifura/image/upload/v1631000958/%E3%82%B9%E3%83%88English/stu3_g5enjo.png);
  background-repeat: no-repeat;
  background-size: 12vw 12vw;
  background-position: 8% -2%;
}

.preview-title03 .preview-des {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
  padding: 0.8rem 1.4rem 0.6rem 1.4rem;
}

.preview-title03 .preview-des p {
  font-size: 3vw;
  color: #393e4f;
  text-align: left;
  font-weight: bold;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

学習の流れ

----------------------------------------- */
.subtitle-nomal-wrapping {
  background-color: #002752;
  vertical-align: middle;
  display: table-cell;
  height: 6rem;
  width: 750px;
}

.subtitle-nomal-wrapping .subtitle-nomal {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.subtitle-nomal-wrapping .subtitle-nomal p {
  background-color: #002752;
  font-size: 3.4vw;
  color: #fff;
  text-align: center;
  padding-top: 1rem;
}

.subtitle-nomal-wrapping .subtitle-nomal h2 {
  background-color: #002752;
  font-size: 5.4vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

.title-basic02 .flow02 {
  margin-left: 5vw;
  padding-left: 3vw;
  border-left: 0.15rem solid #002752;
}

.title-basic02 h3 {
  font-size: 4.8vw;
  color: #002752;
  text-align: left;
  font-weight: bold;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.title-basic02 p {
  font-size: 3.4vw;
  color: #393e4f;
  text-align: left;
  font-weight: bold;
}

/* ーーー
画像
--------*/
.process {
  margin-top: 0.5em;
  -webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process img {
  width: 90%;
  height: auto;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

コース・料金

----------------------------------------- */
.text-price {
  margin: 2rem 0 2rem 0;
  font-size: 3.4vw;
  color: #393e4f;
  text-align: center;
  font-weight: bold;
}

.title-price h3 {
  font-size: 5.2vw;
  color: #002752;
  text-align: left;
  font-weight: bold;
  margin-left: 5vw;
  padding-left: 3vw;
  border-left: 0.15rem solid #002752;
}

.title-price p {
  font-size: 3.4vw;
  color: #393e4f;
  text-align: left;
  margin: 0.6rem 0 0 5vw;
  font-weight: bold;
}

/* ーーー
画像
--------*/
.list_price {
  margin: 0.5em 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_price img {
  width: 90%;
  height: auto;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

比べてわかる

----------------------------------------- */
.mini-corner2 {
  background-color: #393e4f;
  padding-bottom: 1rem;
}

.mini-corner2 h2 {
  font-size: 4.8vw;
  color: #fff;
  text-align: center;
  padding: 2rem 0 2rem 0;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

よくあるご質問

----------------------------------------- */
/* ーーー
アコーディオン
--------- */
/*アコーディオン全体*/
.accordion-area {
  list-style: none;
  width: 92%;
  max-width: 900px;
  margin: 0 auto;
}

.accordion-area li {
  margin: 10px 0;
  background-color: #fff;
}

.accordion-area section {
  border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background-color: #333;
}

.title::before {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.title::after {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*　closeというクラスがついたら形状変化　*/
.title.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.title.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  font-size: 14px;
  display: none;
  /*はじめは非表示*/
  background: #fff;
  margin: 0 3% 3% 3%;
  padding: 3%;
}

/*　調整用　*/
.borderbox2 {
  width: 100%;
  height: 4rem;
  background-color: #eceee6;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

無料カウンセリング

----------------------------------------- */
.subtitle-nomal-wrapping2 {
  background-color: #0A5A1C;
  vertical-align: middle;
  display: table-cell;
  height: 6rem;
  width: 750px;
}

.subtitle-nomal-wrapping2 .subtitle-nomal {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.subtitle-nomal-wrapping2 .subtitle-nomal p {
  background-color: #0A5A1C;
  font-size: 3.4vw;
  color: #fff;
  text-align: center;
  padding-top: 1rem;
}

.subtitle-nomal-wrapping2 .subtitle-nomal h2 {
  background-color: #0A5A1C;
  font-size: 5.4vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

.counseling {
  position: relative;
}

.counseling:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 10vw solid #fff;
  border-left: 100vw solid transparent;
}

.counseling:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 10vw solid #fff;
  border-right: 100vw solid transparent;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

代表の挨拶

----------------------------------------- */
.greeting {
  background-color: #fff;
}

.greeting h2 {
  font-size: 5.4vw;
  color: #393e4f;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0 2.4rem 0;
}

.greeting p {
  font-size: 3vw;
  color: #393e4f;
  text-align: left;
  padding: 0 0 1rem 8%;
  font-weight: bold;
}

.yt-title {
  margin: 2rem 0 1rem 0;
}

.yt-title h3 {
  font-size: 5.2vw;
  color: #002752;
  text-align: left;
  font-weight: bold;
  margin-left: 5vw;
  padding-left: 3vw;
  border-left: 0.15rem solid #002752;
}

.yt-video {
  padding: 0 0.8rem 4rem 0.8rem;
  -webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

固定ボタン

----------------------------------------- */
.fixed_btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 3.4vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8% 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.fixed_btn .btn_line {
  background-color: #0A5A1C;
  padding: 12px 8vw 12px 8vw;
  border-radius: 10vw;
}

.fixed_btn .btn_web {
  background-color: #002752;
  padding: 12px 8vw 12px 8vw;
  border-radius: 10vw;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

フッター

----------------------------------------- */
footer {
  padding: 1rem 0 1rem 0;
  background-color: #393e4f;
  font-size: 3.4vw;
  color: #fff;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
