@charset "UTF-8";

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

カラー(変数）

----------------------------------------- */
$bg-normal:#eceee6;
$bg-white:#fff;
$darkgray:#393e4f;
$gray:#002752;
$bg-green: #0A5A1C;

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

フォント(mixin）

----------------------------------------- */
@mixin font-verysmall ($color:$darkgray, $t_align:left){
    font-size: 3vw;
    color:$color;
    text-align: $t_align;
}

@mixin font-small ($color:$darkgray, $t_align:left){
    font-size:3.4vw;
    color: $color;
    text-align: $t_align;
}

@mixin font-midium ($color:$darkgray, $t_align:left){
    font-size:4.8vw;
    color: $color;
    text-align: $t_align;
}

@mixin font-tall ($color:$darkgray, $t_align:left){
    font-size:5.2vw;
    color: $color;
    text-align: $t_align;
}

@mixin font-grande ($color:$darkgray, $t_align:left){
    font-size:5.4vw;
    color: $color;
    text-align: $t_align;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

ボックスシャドウ

----------------------------------------- */
$shadow: 0 4px 4px -1px rgba(0, 0, 0, .3);


/* ーーーーーーーーーーーーーーーーーーーーーーーーー

cv(mixin）

----------------------------------------- */
@mixin cv {
    height:100%;
    width: 90%;
    margin:auto 5%;
}

@mixin btn {
    font-size:0.86rem;
    font-weight:bold;
    letter-spacing: 1vw;
    // display: inline-block;
    background-color:$bg-green;
    border: none;
    padding: 10px 24px;
    margin: 10px auto;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    color: #fff;
    // -webkit-box-shadow: 2px 2px 0 0 black;
    //         box-shadow: 2px 2px 0 0 black;
    border-radius: 4px;
    // &:hover {
    // -webkit-transform: translate(2px, 2px);
    //         transform: translate(2px, 2px);
    // -webkit-box-shadow: none;
    //         box-shadow: none;
    // background-color:#0A5A1C;
    // }
  }

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

見出し帯

----------------------------------------- */
@mixin subtitle-wrapping ($bg-color:$gray){
    background-color:$bg-color;
    vertical-align: middle;
    display: table-cell;
    height:6rem;
    width: 750px;
}

@mixin subtitle ($bg-color:$gray){
 background-color:$bg-color;
 @include font-grande (#fff,center);
}

@mixin subtitle-mini($bg-color:$gray){
    background-color:$bg-color;
    @include font-small(#fff,center);
   }



/* ーーーーーーーーーーーーーーーーーーーーーーーーー

body

----------------------------------------- */

body {
    background-color:#f3f3f3;
    overflow-x: hidden;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

container

----------------------------------------- */

#container {
    color: $darkgray;
    background-color:$bg-normal;
    max-width: 750px;
    margin: 0 auto;
    letter-spacing: .1rem;
    line-height: 1.45;
    font-family: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro","Hiragino Mincho Pro","MS P明朝","MS PMincho",serif;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

ヘッダー

----------------------------------------- */

header {
    background-color: $bg-white;
    box-shadow: $shadow;
    z-index: 10;
    position: fixed;
    text-align: center;
    width: 100%;
    .hd-logo {
        width:36vw;
        padding:4%;
    }
}



/* ーーーーーーーーーーーーーーーーーーーーーーーーー

mv

----------------------------------------- */

.mv {
    background-color: $darkgray;
    padding-top: 4.2rem;
}

.mv_img {
    width: 100%;
    height: 100%;
}

.title-sub {
    @include font-verysmall(#fff);
    padding-left: 24vw;
    padding-bottom: 6vw;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

cv1

----------------------------------------- */
.cv_area01 {
    background-color: $darkgray;
    position: relative;
}
.cv_btn {
    @include btn;
    position: absolute;
    transform:translate(-50%,-50%);
    top: 74%;
    left: 50%;
}

.cv01 {
    @include cv;
}


/* ーーーーーーーーーーーーーーーーーーーーーーーーー

問題提起

----------------------------------------- */
.attention {
    background-color: $darkgray;
    position: relative;
    &:before {
        content: '';
           position: absolute;
           bottom: 0;
           left: 0;
           border-bottom: 10vw solid $bg-normal;
           border-left: 100vw solid transparent;
     }
     &:after {
        content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 10vw solid $bg-normal;
            border-right: 100vw solid transparent;
     }
}

.title-basic01 {
    @include font-midium(#fff,center);
    padding-top: 1.5rem;
}

.box-list01 {
   @include font-small(#fff,center);
   margin-top: 1.4rem;
   padding-bottom: 5rem;
   li {
       padding-top:0.4rem;
   }
}


/* ーーーーーーーーーーーーーーーーーーーーーーーーー

ちょっと文章コーナー（1つでも当てはまったら~）

----------------------------------------- */

.mini-corner {
    @include font-midium($gray,center);
    background-color:$bg-normal;
    font-weight: bold;
    padding: 1.5rem 0;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

特徴

----------------------------------------- */

.center {
    background-color:$bg-white;
    box-shadow:$shadow;
    width: 92%;
    margin:0 auto;
    .sub02 {
        @include font-small(gray,center);
    }
    .title02 {
        @include font-tall($gray,center);
        font-weight: bold;
        padding: 0.4rem;
    }
    .des02 {
        @include font-verysmall;
        padding:2vw 0 0 3vw;
        margin: 0 auto;
    }
    .title02-3{
    @include font-midium($gray,center);
    font-weight: bold;
    padding: 0.4rem;
    }
}

.borderbox {
    width: 100%;
    height:1rem;
    background-color: $bg-normal;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

cv2

----------------------------------------- */

.cv_area02 {
    background-color: $bg-normal;
    position: relative;
}
.cv_btn {
    @include btn;
    position: absolute;
    transform:translate(-50%,-50%);
    top: 74%;
    left: 50%;
}

.cv01 {
    @include cv;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

受講生からの声

----------------------------------------- */
.subtitle-nomal-wrapping {
    @include subtitle-wrapping;
    .subtitle-nomal {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
        p{
            @include subtitle-mini;
            padding-top: 1rem;
        }
        h2{
            @include subtitle;
            font-weight: bold;
            padding-bottom: 1rem;
        }
    }
}

/* ーーー
カルーセル
--------*/

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid $gray;/*矢印の色*/
    border-right: 2px solid $gray;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:30%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

.mini-text {
    text-align: center;
    font-size:8px;
}

/* ーーー
体験談
--------*/
.mini-text {
    font-size:2.6vw;
    color: $darkgray;
    padding-bottom:1.6rem;
}

@mixin preview-title ($image:url(../images/stu1.png)){
    width: 92%;
    margin:0 auto;
    h3 {
        padding: 0.5rem 0 1rem 23%;
        @include font-midium($gray);
        font-weight: bold;
        background-image: $image;
        background-repeat: no-repeat;
        background-size: 12vw 12vw;
        background-position: 8% -2%;
    }
    .preview-des {
        background-color:$bg-white;
        box-shadow:$shadow;
        padding:0.8rem 1.4rem 0.6rem 1.4rem;
        p {
            @include font-verysmall($darkgray);
            font-weight: bold;
        }
    }
}

.preview-title01 {
    @include preview-title;
}

.preview-title02 {
    @include preview-title(url(../images/stu2.png));
}

.preview-title03 {
    @include preview-title(url(../images/stu3.png));
}


/* ーーーーーーーーーーーーーーーーーーーーーーーーー

学習の流れ

----------------------------------------- */
.subtitle-nomal-wrapping {
    @include subtitle-wrapping;
    .subtitle-nomal {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
        p{
            @include subtitle-mini;
            padding-top: 1rem;
        }
        h2{
            @include subtitle;
            font-weight: bold;
            padding-bottom: 1rem;
        }
    }
}

.title-basic02 {
    .flow02 {
        margin-left: 5vw;
        padding-left: 3vw;
        border-left: 0.15rem solid $gray;
    }
    h3 {
        @include font-midium ($gray);
        font-weight: bold;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
    p {
        @include font-small;
    }
}

/* ーーー
画像
--------*/
.process {
    margin-top: 0.5em;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 90%;
        height: auto;
    }
}



/* ーーーーーーーーーーーーーーーーーーーーーーーーー

コース・料金

----------------------------------------- */

.text-price {
    margin:2rem 0 2rem 0;
    @include font-small($darkgray,center);
    font-weight: bold;
}

.title-price {
    h3 {
        @include font-tall($gray);
        font-weight: bold;
        margin-left: 5vw;
        padding-left: 3vw;
        border-left: 0.15rem solid $gray;
    }
    p {
        @include font-small;
        margin:0.6rem 0 0 5vw;
        font-weight: bold;
    }
}

/* ーーー
画像
--------*/
.list_price {
    margin: 0.5em 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 90%;
        height: auto;
    }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

比べてわかる

----------------------------------------- */

.mini-corner2 {
    background-color: $darkgray;
    padding-bottom: 1rem;
    h2 {
        @include font-midium($bg-white,center);
        padding: 2rem 0 2rem 0;
    }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

よくあるご質問

----------------------------------------- */

/* ーーー
アコーディオン
--------- */
  /*アコーディオン全体*/
  .accordion-area{
    list-style: none;
    width: 92%;
    max-width: 900px;
    margin:0 auto;
}

.accordion-area li{
    margin: 10px 0;
    background-color: #fff;
}

.accordion-area section {
	border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;

}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;

}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);

}
.title::after{
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    font-size:14px;
    display: none;/*はじめは非表示*/
    background: #fff;
	margin:0 3% 3% 3%;
    padding: 3%;
}


/* ーーーーーーーーーーーーーーーーーーーーーーーーー

無料カウンセリング

----------------------------------------- */
.subtitle-nomal-wrapping2 {
    @include subtitle-wrapping($bg-green);
    .subtitle-nomal {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
        p{
            @include subtitle-mini($bg-green);
            padding-top: 1rem;
        }
        h2{
            @include subtitle($bg-green);
            font-weight: bold;
            padding-bottom: 1rem;
        }
    }
}

.counseling {
    position: relative;
    &:before {
        content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 10vw solid $bg-white;
            border-left: 100vw solid transparent;
        }
        &:after {
        content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 10vw solid $bg-white;
            border-right: 100vw solid transparent;
        }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

代表の挨拶

----------------------------------------- */
.greeting {
    background-color: $bg-white;
    h2 {
        @include font-grande($darkgray,center);
        font-weight: bold;
        padding:1rem 0 2.4rem 0;
    }
    p {
        @include font-verysmall;
        padding: 0 0 1rem 8%;
        font-weight: bold;
    }
}

.yt-title {
    margin: 2rem 0 1rem 0;
    h3 {
        @include font-tall($gray);
        font-weight: bold;
        margin-left: 5vw;
        padding-left: 3vw;
        border-left: 0.15rem solid $gray;
    }
}

.yt-video {
    padding:0 0.8rem 4rem 0.8rem;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーー

フッター

----------------------------------------- */
footer {
    padding: 1rem 0 1rem 0;
    background-color: $darkgray;
    @include font-small($bg-white,center);
}
